<configuration>
	<system.webServer>
		<handlers>
			<remove name="ASPClassic"/>
			<remove name="PageHandlerFactory-Integrated"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
		</handlers>
	</system.webServer>
</configuration>
